.form {
  display: grid;
  margin: 30px auto 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-rows: 45px;
  width: 100%;
  max-width: 840px;
  align-items: start;
  position: relative;
}

.input {
  font-size: 15px;
  height: 38px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.button {
  border: none;
  background: #23CE6B;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

.input:focus {
  border-bottom: 1px solid #A846A0;
}

.errors {
  position: absolute;
  top: 50px;
  color: #ff5845;
  background: white;
}